<%= form_for @hand, :html => { :class => 'form-horizontal', :multipart => true} do |f| %>
  <fieldset>
    <legend><%= controller.action_name.capitalize %> Hand</legend>

    <div class="control-group">
      <%= f.label :name, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :name, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :photo, :class => 'control-label' %>
      <div class="controls">
        <%= f.file_field :picture, :class => 'text_field' %>
      </div>
    </div>

    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to 'Cancel', hands_path, :class => 'btn' %>
    </div>
  </fieldset>
<% end %>
