<h1>Hand</h1>
<%= button_to 'Guess a another random hand', '/random', :class => 'btn btn-danger', :method => 'get' %>

<%= form_for :guess, :url => {:controller => 'hands', :action => 'guess', :id => @hand.id}, :html => { :class => 'form-horizontal'} do |f| -%>
  <fieldset>
    <legend>Whos Hand is This?</legend>

    <div class="control-group">
      <%= f.label :guess, "Make your guess", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :guess, :class => 'text_field' %>
      </div>
    </div>
    <div class="form-actions">
      <%= f.submit 'Guess', :class => 'btn btn-primary' %>
    </div>

  </fieldset>
<% end -%>

<p>
  <b>Photo</b><br>
  <%= image_tag @hand.picture.url(:large) %>
</p>




<div class="form-actions">
  <%= link_to 'Want to edit this hand?', edit_hand_path(@hand), :class => 'btn' %>
</div>
